@font-face {
	font-family: 'Mazda';
	src: url('../fonts/Mazda-Regular.eot');
	src: url('../fonts/Mazda-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Mazda-Regular.woff2') format('woff2'),
		url('../fonts/Mazda-Regular.woff') format('woff'),
		url('../fonts/Mazda-Regular.ttf') format('truetype'),
		url('../fonts/Mazda-Regular.svg#Mazda-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mazda Bold';
	src: url('../fonts/Mazda-Bold.eot');
	src: url('../fonts/Mazda-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Mazda-Bold.woff2') format('woff2'),
		url('../fonts/Mazda-Bold.woff') format('woff'),
		url('../fonts/Mazda-Bold.ttf') format('truetype'),
		url('../fonts/Mazda-Bold.svg#Mazda-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate Condensed';
	src: url('../fonts/Interstate-RegularCond.eot');
	src: url('../fonts/Interstate-RegularCond.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-RegularCond.woff2') format('woff2'),
		url('../fonts/Interstate-RegularCond.woff') format('woff'),
		url('../fonts/Interstate-RegularCond.ttf') format('truetype'),
		url('../fonts/Interstate-RegularCond.svg#Interstate-RegularCond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate-Regular.eot');
	src: url('../fonts/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Regular.woff2') format('woff2'),
		url('../fonts/Interstate-Regular.woff') format('woff'),
		url('../fonts/Interstate-Regular.ttf') format('truetype'),
		url('../fonts/Interstate-Regular.svg#Interstate-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
