footer {
	text-align: center;
	border-top: 2px solid black;
	padding: 20px 20px 50px 20px;
	.legal {
		font-size: 0.8rem;
		font-family: "Arial", sans-serif;
		margin: 20px 0;
	}
	.logos {
		a {
			&:first-child {
				img {
					border-right: 2px solid #adadad;
					@include breakpoint(special) {
						// border-right: none;
					}
				}
			}
		}
		img {
			padding: 0 32px;
		}
		.mazda {
			padding-left: 100px;
			@include breakpoint(special) {
				padding-left: 0;
			}
		}
	}
}