.hero {
	width: 100%;
	img {
		width: 100%;
		margin-top: 30px;
		@include breakpoint(xsmall) {
			margin-top: 0px;
		}
	}
}

.headline {
	width: 100%;
	background: url('../img/headline-bg.jpg') repeat-y;
	h2 {
		font-size: 3rem;
		color: $white;
		margin: 0;
		padding: 16px 0;
		text-align: center;
	}
}

.content {
	text-align: center;
	margin-top: 24px;
	.video {
		width: 100%;
		max-width: 780px;
		border: 2px solid $black;
	}
	h3 {
		margin: 0;
		padding: 0;
		font-size: 2.2rem;
		color: $black;
		text-transform: uppercase;
		&.no-margin {
			margin-bottom: 10px;
		}
		.emphasis {
			font-size: 2.6rem;
		}
	}
	h1 {
		padding: 0 60px;
		padding-bottom: 30px;
		font-size: 3.6rem;
		&.sixty {
			font-size: 6rem;
		}
	}
	h2 {
		margin: 0;
		padding: 0;
		font-size: 2.6rem;
		text-transform: uppercase;
		color: $black;
		a {
			color: $black;
			text-decoration: underline;
		}
	}
	img {
		margin: 40px 0;
		width: 100%;
		max-width: 940px;
	}
	.enter {
		font-size: 2.4rem;
		text-transform: uppercase;
		color: $black;
		font-family: "Mazda Bold", sans-serif;
		margin: 40px auto;
		display: block;
	}
	p {
		margin: 30px 0;
		font-size: 2rem;
		a {
			text-decoration: underline;
			color: $darkgrey;
		}
	}
}

.divider {
	width: 100%;
	img {
		width: 100%;
		max-width: 810px;
	}
}